.products-all
  overflow hidden
  padding-top 120px

.products-all__filter
  float left

.products-all__show
  float right
  width 74%
  display flex
  justify-content space-between
  flex-wrap wrap
  .product-item
    width 31%