footer
    .container
         .footer-wrap
            .footer-logo
                 img(src="static/img/general/logo.png")
                 span.footer-copyright shopy c 2017 . your copy right here
            nav.footer-nav
                 ul.footer-nav__list
                    li
                        a(href="javascript:void(0);") about us
                    li
                        a(href="javascript:void(0);") contact us
                    li
                        a(href="javascript:void(0);") support
                 ul.footer-nav__list
                    li
                        a(href="javascript:void(0);") our feet
                    li
                        a(href="javascript:void(0);") terms and conditions
                    li
                        a(href="javascript:void(0);") our privacy
                 ul.footer-nav__list
                    li
                        a(href="javascript:void(0);") join us
                    li
                        a(href="javascript:void(0);") live support
            .footer-payment
                span.footer-payment__text Payment Methods
                img(src="static/img/general/footer-pay.png")

