header
    .header__top
        .container
            .header__contacts
                a(href="mailto:info@shopy.com").header__mail info@chopy.com
                a(href="tel:9965553453").header__phone 996-5553-453
            ul.header__social
                li
                    a(href="javascript:void(0);").header-social__link
                    .social__link--tw
                li
                    a(href="javascript:void(0);").header-social__link
                    .social__link--fb
                li
                    a(href="javascript:void(0);").header-social__link
                    .social__link--google
                li
                    a(href="javascript:void(0);").header-social__link
                    .social__link--instagram
    .header__bottom
        .container
            .header__logo
                img(src="static/img/general/logo.png")
            nav.header-nav
                ul.header-nav__list
                    li
                        a(href="../index.html").header-nav__home.active Home
                    li
                        a(href="../product.html").header-nav__product Product
                    li
                        a(href="../product-all.html").header-nav__hotDeals Hot Deals
                    li
                        a(href="javascript:void(0);").header-nav__contact Contact

            .header-action
                .header-search
                    span.header-search__icon
                    form.header-search__form
                        input(type="text")
                a(href="javascript:void(0);").header-filter
                    span.header-filter__icon
                .header-profil
                    span.header-profil__icon
                .header-basket
                    span.header-basket__icon
                    span.header-basket__number 5


