section.subscribe
    .container
        .subscribe-content
            span.subscribe-title News Letter
            span.subscribe-descr joins us now to get all news and special offers
            form.subscribe-form
                .input-field__wrap
                    img(src="static/img/sprite/mail.png")
                    input(type="text" name="mail" placeholder="type yore email here").input-field
                    input(type="submit" value="join us").g-btn
