footer
  background-color white
  padding 80px 0
.footer-wrap
  display flex
  justify-content space-between

.footer-logo
  flex-basis 220px
  img
    margin-bottom 20px

.footer-copyright
  display block
  font-size .8571rem
  font-weight bold

.footer-nav
  flex-basis auto
  overflow hidden
  padding-left 20px

.footer-nav__list
  display inline-block
  float left
  margin-right  70px
  &:last-child
    margin-right 0
  li
    margin-bottom 20px
    list-style-type disc
    cursor pointer
    &:last-child
      margin-bottom 0
  a
    font-weight bold
    &:hover
      color orangeColor



.footer-payment
  flex-basis 170px


.footer-payment__text
  display block
  margin-bottom 20px
  font-size 1.143rem
  font-family boltFont
  color orangeColor
