.subscribe-content
  background-color white
  overflow hidden
  padding 40px
  margin-bottom 50px

.subscribe-title
  display inline-block
  line-height 50px
  margin-right 25px
  font-size 1.429rem
  font-family boltFont
  color orangeColor
  text-transform uppercase

.subscribe-descr
  color ligtBlueTextColor
  font-family italicFont

.subscribe-form
  float right

.input-field__wrap
  position relative
  display inline-block


.input-field
  background none
  border none
  margin-right 70px
  font-family italicFont
  color ligtBlueTextColor
  padding-left 35px
