@import '../libs/normalize/normalize.css'
@import '../libs/magnific/magnific-popup.css'
@import '../libs/bxslider/jquery.bxslider.css'
@import '../libs/animate/animate.css'
@import '../libs/slick/slick.css'
@import '../libs/slick/slick-theme.css'

//Стили слайдера
.index-slider
.product-item__second
.product-view__slider
  .bx-wrapper
    margin-bottom 0
    .bx-viewport
      box-shadow none
      border none
      left 0
      background  none

.product-view__slider
  .bx-wrapper
      margin-bottom 40px

