@media screen and (max-width 1170px)
  .banner-big
    float none
    margin 0 auto 20px
    width 100%
    max-width 640px

  .banner-small
    float none
    margin 20px auto

  .product-view
    .container
      text-align center
      flex-wrap wrap

  .product-view__slider
    margin-bottom 50px

  .products-all__filter
    position absolute
    left -600px
    padding 5px
    z-index 10
    background mainBgColor
    box-shadow 0 0 10px 1px rgba(0,0,0,.2)
    ttransition all linear .2s
    &.active
      left 0
      transition all linear .2s
  .products-all__show
    width 100%
  .filter-close
    display block
  .product-item__sizes
    text-align left




@media screen and (max-width 1060px)

  .best-sales__items
    flex-wrap wrap
    justify-content space-around

  .best-sales__item--wrap
    width 320px
    margin-bottom 30px
    &:last-child
      margin-bottom 0

@media screen and (max-width 950px)
  .subscribe-content
    text-align center
  .subscribe-title
    display block
    margin-bottom 5px
  .subscribe-descr
    display block
    margin-bottom 20px
  .subscribe-form
    display block
    float none
  section
    margin-bottom 40px
  footer
    padding 40px 0
  .footer-wrap
    justify-content center
    flex-wrap wrap
  .footer-logo
    margin-bottom 30px
  .footer-nav
    flex-basis 500px
    margin-bottom 30px
  .footer-payment
    text-align center
  .product-view
    padding 60px 0
  .products-all
    padding-top 60px



@media screen and (max-width 900px)
  .index-slider__info
    left 20%

@media screen and (max-width 800px)
  .header__logo
    margin-right 30px
  .header-nav__list
    li
      margin-right 15px

  .index-slider
    margin-bottom 80px

  .product-item
    width 47%
  .product-item__second
    .bx-wrapper
      width 100%
      max-width 240px

@media screen and (max-width 742px)
  .header__logo
    display block
    text-align center
    margin-bottom 40px

  .header-action
    margin-top 0

  .footer-logo
    text-align center


@media screen and (max-width 650px)
  .index-slider__info
    left 12%
  .banner-big
    height auto
    text-align center
    img
      display block
      float none
      margin 35px auto
  .banner-big__text
    float none
    border-right none
    padding-right 0
    margin-bottom 20px
  .banner-big__card
    bottom 16px
    margin-left 0
  .products-all__show
    .product-item
      width 47%

@media screen and (max-width 573px)

  .product-settings
    display block
  .product-item__sizes
    margin 20px auto
    text-align center

  .product-quantity
    border-left none
    margin 0 auto
    text-align center



@media screen and (max-width 550px)
  .header-nav
    display block
    text-align center
    margin-bottom 30px
  .header-action
    float none
    display block
    margin 0 auto
  .index-slider__title
    font-size 2.286rem
    margin-bottom 20px
  .index-slider__descr
    margin-bottom 30px
  .js-index-slider__pager
    a
      width 5px
      height 10px
      margin-left 10px
      &.active
        height 25px
  .banner-small
    width 55%
  .input-field__wrap
    img
      display inline-block
  .input-field
    display inline-block
    margin-bottom 20px
    margin-right 0
  .footer-nav
    flex-basis 365px
    margin 0 0 30px 140px

  .footer-nav__list
    display block
    float none
    margin-bottom 20px
    margin-right 0
    &:last-child
      margin-bottom 0


@media screen and (max-width 450px)
  .header__contacts,
  .header__social
    float none
    text-align center
  .header__contacts
    margin-bottom 10px
  .index-slider__title
    margin-bottom 15px
  .index-slider__goods,
  .index-slider__price,
  .index-slider__buy
    font-size 1rem
  .index-slider__descr
    font-size  0.8571rem
    margin-bottom 15px
  .product-item__wrap
    justify-content center
  .product-item
    width 80%
  .subscribe-descr
    line-height 18px
  .footer-nav
    margin-left 90px

  .product-price__wrap
    display block
    float none
    margin-bottom 30px
  .product-buttons__wrap
    display block
    float none
  .product-buttons
    display block
    margin-bottom 30px
  .product-buttons__pay
    .g-btn
      margin-left 0
  .products-all__show
    justify-content center
    .product-item
      width 80%




@media screen and (max-width 360px)
  .header-nav__list
    li
      a
        font-size 1.143rem
  .index-slider__title
    font-size  1.429rem
  .index-slider__info
    left 10%
  .best-sales__rating
    margin-right 20px


