//Цвета
mainBgColor = #f4f6f8
lightGrayColor = #edeff1
orangeColor = #ff5912
lightBorderColor = #eaedef

//Цвета шрифта

ligtBlueTextColor = #495662
mainFontColor = #34404b
grayTextColor = #b5b9bd
darcTextColor = #3c4751


//Шрифты

mainFont = "OpenSansRegular",Arial,sans-serif
boltFont = "OpenSansBold",Arial,sans-serif
veryBoltFont = "OpenSansExtraBold",Arial,sans-serif
italicFont = "OpenSansItalic",Arial,sans-serif
semiBoltFont = "OpenSansSemiBold",Arial,sans-serif