.product-item
    .product-item__first
        img(src="static/img/content/products/product3.png").product-item__pic--big
        span.product-item__title Reebok Track Jacket
        span.product-item__prise 100$

    .product-item__second
        ul.js-product-item__slider
            li
                img(src="static/img/content/products/product3mini.png").product-item__pic
            li
                img(src="static/img/content/products/product3miniDarc.png").product-item__pic
            li
                img(src="static/img/content/products/product3miniBlue.png").product-item__pic
            li
                img(src="static/img/content/products/product3miniGreen.png").product-item__pic
        span.product-item__title Reebok Track Jacket
        .product-item__sizes
            span sizes :
            ul.sizes-list
                li
                    span s
                li
                    span m
                li
                    span l
                li
                    span xl
        .product-item__color
            a(href"" data-slide-index="0").product__color--red
            a(href"" data-slide-index="1").product__color--darc
            a(href"" data-slide-index="2").product__color--blue
            a(href"" data-slide-index="3").product__color--green
        .product-item__buttons
            a(href="javascript:void(0);").product-chare
            a(href="javascript:void(0);").product-curt
            a(href="javascript:void(0);").product-like